.wrapper {
    margin: 0 auto;
    width: 1240px;
}

.shortcut {
    height: 52px;
    background-color: #333;
}


.shortcut .wrapper {
    height: 52px;
}

.shortcut ul {
    display: flex;
    justify-content: flex-end;
    line-height: 52px;
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    font-size: 14px;
    color: white;
}

.shortcut li:last-child a {
    padding: 0 15px;
    border-right: none;
}

.shortcut li .iconfont {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut .login {
    color: #5EB69C
}

/* 头部区域 */
.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
    /* background-color: pink; */
}

/* 头部区域-logo */
.header .logo {
    width: 200px;
    height: 88px;
    margin-right: 40px;
}

.header .logo a {
    display: block;
    width: 200px;
    height: 88px;
    background: url(../images/logo.png);
    font-size: 0;
}

/* 头部区域-导航区域 */
.header .nav {
    margin-top: 33px;
    margin-right: 28px;
}

.header .nav ul {
    display: flex;
}

.header .nav li {
    margin-right: 47px;
}

.header .nav li a {
    padding-bottom: 10px;
}

.header .nav li:hover a {
    border-bottom: 3px solid #5EB69C;
    color: #5EB69C;
}


/* 搜索区域 */
.search {
    display: flex;
    margin-top: 33px;
    margin-right: 45px;
    width: 170px;
    height: 34px;
    border-bottom: 2px solid #9b9b9b;
}

.search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #ccc;
}

.search input {
    width: 0;
    flex:1;
}

.search input::placeholder{
    font-size: 16px;
    color: #ccc;
}

/* 购物车区域 */
.chart {
    /* width: 30px;
    height: 30px; */
    position: relative;
    margin-top: 32px;
}

.chart .iconfont {
    font-size: 28px;
}

.chart i {
    position: absolute;
    top: 1px;
    left: 9px;
    padding: 0 6px;
    height: 15px;
    background-color: orange ;
    border-radius: 8px;
    font-size: 14px;
    line-height: 15px;
    color: #FFFEFE;
}

/* footer */
.footer {
    height: 580px;
    background-color: #f5f5f5;
}

.footer .service {
    height: 178px;
    padding: 60px 0;
    border-bottom: 1px solid #e8e8e8;
}

.footer .service ul {
    display: flex;
    justify-content: space-evenly;
}

.footer .service li {
    display: flex;
    width: 190px;
    height: 58px;
}

.footer .service h5 {
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
}

.footer .service li p {
    font-size: 28px;
    line-height: 58px;
}

.footer .service li:nth-child(1) h5 {
    background-position: 0 0;
}

.footer .service li:nth-child(2) h5 {
    background-position: 0 -58px;
}

.footer .service li:nth-child(3) h5 {
    background-position: 0 -116px;
}

.footer .service li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.footer .help {
    display: flex;
    justify-content: space-between;
    height: 302px;
    padding-top: 60px;
    /* border-bottom: 1px solid #e8e8e8; */
}

.footer .help .left  {
    display: flex;
}

.footer .help dl {
    margin-right: 84px;
}

.footer .help dl:last-child {
    margin-right: 0;
}

.footer .help dt {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}

.footer .help dd {
    margin-bottom: 10px;
}

.footer .help .left a {
    color: #969696;
}

.footer .help .left .iconfont {
    color:#5EB69C
}

.footer .help .right ul {
    display: flex;
}

.footer .help .right li:first-child {
    margin-right: 55px;
}

.footer .help .right .pic {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.footer .help .right p {
    text-align: center;
    color: #969696;
}

.footer .copyright p{
    text-align: center;
    color: #a1a1a1;
}

.footer .copyright p > a {
    text-align: center;
    color: #a1a1a1;
}

.footer .copyright p:first-child {
    margin-bottom: 10px;
}