/* banner */
.banner {
    height: 500px;
    background-color: #F5F5F5;
    overflow: hidden;
}

.banner .wrapper {
    position: relative;
    height: 500px;
    background-color: pink;
    overflow: hidden;

}

.banner .pic {
    display: flex;
    width: 3720px;
}

.banner .subnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.42);
}

.subnav li {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 12px;
}

.subnav ul a {
    font-size: 16px;
    color: white;
}

.subnav li:hover {
    background-color: #00BE9A;
}

.subnav .iconfont {
    font-size: 14px;
}

.banner .slides {
    display: flex;
    position: absolute;
    top: 90%;
    left: 90%;
}

.banner .slides li {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius: 15px;
    /* background: white; */
    line-height: 15px;
    text-align: center;
}

.banner .slides .active {
    background-color: rgba(255, 255, 255, 0.6);
}

.banner .slides .active i {
    background-color: rgb(255, 255, 255);
}

.banner .slides li:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.banner .slides li:hover i {
    background-color: rgb(255, 255, 255);
}

.banner .slides li i {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 42px;
}

.title .left {
    display: flex;
}

.title .left h3 {
    font-size: 30px;
    margin-right: 35px;
}

.title .left p {
    align-self: flex-end;
    color: #a1a1a1;
}

.title .right .more {
    line-height: 42px;
    color: #a1a1a1;
}

.title .right .more .iconfont {
    margin-left: 8px;
    margin-right: 2px;
}

.bd ul {
    display: flex;
    justify-content: space-between;
}

.bd li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
    text-align: center;
}

.bd li img {
    height: 304px;
}

.bd li h4 {
    margin-top: 17px;
    margin-bottom: 8px;
    font-size: 20px;
}

.goods .bd li p {
    font-size: 18px;
    color: #aa2113;
}

.goods .bd li span {
    font-style: 22px;
    margin-left: 3px;
}

.recommend li {
    background-color: #fff;
}

.recommend .bd li span {
    color: #a1a1a1;
}

.brand {
    height: 468px;
    margin-top: 60px;
    background-color: #f5f5f5;
}

.brand .wrapper{
    height: 468px;
    overflow: hidden;
}

.brand .wrapper .title {
    position: relative;
    margin-bottom: 40px;
}

.brand .button {
    position: absolute;
    left: 92%;
    top: 100%;
}

.brand .button a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #F5F5F5;
    line-height: 20px;
    text-align: center;
}

.brand .button .prev {
    background-color: #ddd;

}

.brand .button .next {
    background-color: #00BE9A;
}

.brand li {
    width: 244px;
    height: 306px;
}

.fresh .title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.title .right {
    display: flex;
}
.title .right ul {
    display: flex;
    height: 42px;
    margin-right: 58px;
    line-height: 42px;
}
.title .right ul a {
    /* width: 46px; */
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    line-height: 20px;
    margin-left: 6px;;
}

.title .right ul li:hover a,
.title .right ul .active a
{
    background-color: #00BE9A;
    color: #F5F5F5;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .left {
    width: 248px;
    height: 610px;
}

.content .right {
    width: 968px;
    height: 610px;
}

.content .right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-between; */
}

.content .right ul li {
    position: relative;
    padding: 10px 21px 0;
    width: 242px;
    height: 305px;
    border: 2px solid #fff;

    overflow: hidden;
}

.content .pic {
    width: 200px;
    height: 180px;
}

.content .info {
    height: 60px;
    margin-top: 14px;
    margin-bottom: 5px;
    line-height: 20px;
}

.content .price {
    color: #af2f22;
}

.content .price span {
    font-size: 22px;
    margin-left: 3px;
}

.content li .cover {
    position: absolute;
    left: 0;
    bottom: -86px;
    padding-top: 15px;
    width: 242px;
    height: 80px;
    background-color: #00BE9A;
    text-align: center;
    color: #fff;

    transition: all 0.5s;
}

.content .cover p:first-child {
    font-size: 18px;
}

.content .cover p:nth-child(2) {
    margin: 3px auto 6px;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.31);
}

.content .cover p:nth-child(3) {
    font-size: 13px;
}

.content .cover p:nth-child(3) .iconfont {
    font-size: 13px;
}

.content .right ul li:hover .cover{
    bottom: 0;
}

.content .right ul li:hover {
    border: 2px solid #00BE9A;
}

.topic {
    margin-bottom: 40px;
    overflow: hidden;
}

.topic .title {
    margin-top: 100px;
}

.topic .topic-bd ul {
    display: flex;
    justify-content: space-between;
}

.topic-bd li {
    width: 405px;
    height: 355px;
    /* background-color: pink; */
}

.topic-bd li .pic {
    position: relative;
    height: 288px;
}

.topic-bd li .txt {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    /* background-color: skyblue; */
    font-size: 16px;
    color: #666;
}

.topic-bd .txt .left {
    display: flex;
}

.topic-bd .txt .left p {
    margin-right: 20px;
}

.topic-bd .txt .left p:nth-child(1) .iconfont{
    color: #aa2113;
}

.topic-bd .pic .cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 405px;
    height: 90px;
    background-image: linear-gradient(180deg, rgba(137, 137, 137, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.topic-bd .cover .left {
    color: #fff;
}

.topic-bd .cover .left h4 {
    margin-bottom: 6px;
    font-size: 20px;
}

.topic-bd .cover .right {
    padding: 0 7px;
    height: 25px;
    background-color: #fff;
    line-height: 25px;
    font-size: 15px;
    color: #aa2113;
}

.topic-bd .cover .right span{
    font-size: 18px;
}